* {
    padding: 0;
    margin: 0;
  }

  body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #551f55; 
    font-family: sans-serif;
  }

  .calculator {
    width: 300px;
    padding-bottom: 15px;
    border-radius: 7px;
    background-color: rgb(82, 58, 94);
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61);
  }
  
  .display {
    width: 100%;
    height: 80px;
    padding-bottom: 10px;
    border-radius: 7px;
    color: #000;
    text-align: right;
    background-color: rgb(199, 144, 226);
    box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.61)

  }

  .row {
    display: flex;
    justify-content: space-between;

  }

  button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: #222;
    color: #fff;
    margin: 10px;
  }
  
  button:hover {
    cursor: pointer;
  }

  .operator {
    background-color: #00ff44;
    color: #000;
  }